[submodule "contrib/eigen"]
	path = contrib/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "contrib/Catch2"]
	path = contrib/Catch2
	url = https://github.com/catchorg/Catch2.git
